<div class="test">
  kkkkkk
</div>
<app-header id="header" class="section" data-aos="fade-up" data-aos-easing="ease-in-sine"></app-header>
<section id="car" class="section">
    <app-search-bar  data-aos="zoom-out" data-aos-easing="ease-in-sine"></app-search-bar>
    <app-brands data-aos="fade-up" data-aos-easing="ease-in-sine" ></app-brands>
</section>
<app-deoration data-aos="zoom-out" data-aos-easing="ease-in-sine"></app-deoration>
<app-most-popular data-aos="zoom-in" data-aos-easing="ease-in-sine"></app-most-popular>
<app-about  id="about" class="section" data-aos="zoom-out-left" data-aos-easing="ease-in-sine"></app-about>
<!-- <app-show-cars-on-home data-aos="fade-up" data-aos-easing="ease-in-sine" ></app-show-cars-on-home> -->
<!-- <app-branches id="branches" data-aos="fade-up" data-aos-easing="ease-in-sine"></app-branches > -->
<app-show-branches   class="section" id="branches" data-aos="fade-up" data-aos-easing="ease-in-sine"></app-show-branches>
<app-decoration2 data-aos="zoom-out-left" data-aos-easing="ease-in-sine"></app-decoration2>
<app-reviews data-aos="zoom-out" data-aos-easing="ease-in-sine"></app-reviews>
