<footer class="vh-75 bg-darkGreen py-5">
    <div class="container">
        <div class="content">
            <div class="footer-header d-flex justify-content-between  p-4"  data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="bottom-bottom">
                <a routerLink="/home"><img src="../../assets/images/Home/WLogo.svg"></a>
                <form class="form  d-flex  ">
                    <div class="input-group px-2">
                      <span class="input-group-text"><span class=" text-darkGreen fa fa-envelope"></span></span>
                      <input type="text" class="form-control " id="floatingInputGroup1" placeholder="Enter your email to get the last news">
                    </div>
                  <button class="btn bg-Green">subscribe</button>
                  </form>
            </div>
            <div class="footer-middle  d-flex justify-content-between border-top border-bottom  p-4 "  data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="bottom-bottom">
                <ul  class="list-unstyled text-white">
                    <li><a routerLink="/home" class="text-white text-decoration-none ">Home</a></li>
                    <li><a href="/home#about" class="text-white text-decoration-none ">About</a></li>
                    <li><a href="/home#branches" class="text-white text-decoration-none ">branches</a></li>
                    <li><a routerLink="/cars/all" class="text-white text-decoration-none ">Cars</a></li>
                    <li><a href="https://wa.me/c/201027206017" class="text-white text-decoration-none ">Contact us</a></li>
                </ul>
                <ul  class="list-unstyled">
                    <li><a  href="https://www.facebook.com/messages/t/102449004524299" class="text-white text-decoration-none">Help</a></li>
                    <li><a href="https://www.facebook.com/messages/t/102449004524299"class="text-white text-decoration-none">Support</a></li>
                    <li><a  href="https://www.facebook.com/profile.php?id=100069038557828" class="text-white text-decoration-none">Join us</a></li>
                </ul>
                <ul  class="list-unstyled text-center">
                    <li class="text-white text-decoration-none">Join</li>
                    <li><a href="https://www.facebook.com/profile.php?id=100069038557828" class="text-white text-decoration-none"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/elemanelectriccar/" class="text-decoration-none"><i class="text-white fa fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.tiktok.com/@elemanelectriccar" class="text-white text-decoration-none tiktok"> <img src="../../../assets/images/footer/tiktok.svg"></a></li>
                </ul>
            </div>
            <div class="footer-footer text-center text-white pt-4 p-3" >
                <span>Eleman &copy; 2024 All rights reserved</span>
            </div>
        </div>
    </div>
</footer>
