<section class="about-section d-flex justify-content-center align-items-center">
    <div class="container py-5">
        <h2 class=" d-md-inline-block d-lg-block  text-lg-center px-3 text-darkGreen" data-aos="fade-up">About Us</h2>
        <div class="row py-4 gy-4">
            <div class="col-lg-6 " data-aos="zoom-in-right">
                <div class="about-img">
                    <img src="../../assets/images/Home/10_ss300p_ehra-lessien.png" class="img-fluid rounded">
                </div>
            </div>
            <div class="col-lg-6 "data-aos="zoom-in-left">
                <div class="about-text">
                  <p class="small text-darkGreen">Al-Eman Company was established to import electric cars in 2018 to become the first company in Egypt to import electric cars, and with your trust and support, which we took great care of, our branches were opened, thank God, in the Arab Republic of Egypt and the United Arab Emirates.</p>
                  <p class="small text-darkGreen">At Al-Eman Company for Importing Electric Cars, our mission goes beyond just selling cars. We prioritize customer satisfaction above all else, ensuring that every individual who walks through our doors receives personal attention and expert guidance throughout the vehicle buying and aftersales journey. Our dedicated team of professionals is here to help you find the perfect car to match your lifestyle and budget.</p>
                </div>
            </div>
        </div>
    </div>
</section>
