// .Specifications-content-container{
//     width: 45%;
// }
.car-detail-slider{
  background-image: url("../../../assets/images/Home/2.jpg.png") !important;
  background-attachment: fixed;
}
.car-detail-slider .overLay{

  background-color: #021813e1;
}
*{
  box-sizing: border-box;
}
