<section class="search-section py-lg-5">
  <div class="container py-5">
    <h2 class="d-md-inline-block d-lg-block  text-lg-center px-3">Find Your Car</h2>
    <div class="form pt-5"  data-aos="fade-up" data-aos-easing="ease-in-sine">
      <form class="form">
        <div class="input-group mb-3">
          <span class="input-group-text"><span class="fa fa-search form-control-feedback"></span></span>
          <div class="form-floating ">
            <input #searchValue  type="text" class="form-control " id="floatingInputGroup1" placeholder="Username">
            <label for="floatingInputGroup1">search for a car</label>
          </div><a class="btn btn-outline-secondary"routerLink="/cars/all" id="button-addon2"><span class="fa fa-solid fa-bolt fa-2x"></span></a>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="searchValue.value.length>0">
    <div class="container">
        <p *ngIf="!isloading">loading..</p>
        <div class="row py-3">
            <div class="col-sm-6 col-md-6 col-lg-4" *ngFor="let car of Cars|search:searchValue.value " >
                <app-car-item [ParamNum]="car.id"></app-car-item>
            </div>
        </div>
    </div>

  </div>
</section>
