<section>
    <div class="container py-5">
        <h2 class=" d-md-inline-block d-lg-block  text-lg-center px-3" data-aos="fade-up" data-aos-anchor-placement="center-bottom">Review</h2>
        <div class="row  py-4 gy-5">

            <div class="col-lg-4 col-11 mx-auto"  data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="bottom-bottom">
                <div class="reviewItem p-3 bg-light card  text-secondary">
                    <span class="left fa fa-solid fa-quote-left fa-3x"></span>
                    <div class="card-body  d-flex justify-content-center align-items-center text-center ">
                        <p class="card-text">Import your car now with the lowest price in Egypt</p>
                    </div>
                    <span class="right fa fa-solid fa-quote-right fa-3x"></span>
                </div>
            </div>

            <div class="col-lg-4 col-11 mx-auto" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="bottom-bottom">
                <div class="reviewItem p-3 bg-light card  text-secondary">
                    <span class="left fa fa-solid fa-quote-left fa-3x"></span>
                    <div class="card-body  d-flex justify-content-center align-items-center text-center ">
                        <p class="card-text">With the lowest down payment and the longest guarantee, we will achieve the difficult equation</p>

                    </div>
                    <span class="right fa fa-solid fa-quote-right fa-3x"></span>
                </div>
            </div>

            <div class="col-lg-4 col-11 mx-auto" data-aos="fade-up" data-aos-duration="2500" data-aos-anchor-placement="bottom-bottom">
                <div class="reviewItem p-3 bg-light card  text-secondary">
                    <span class="left fa fa-solid fa-quote-left fa-3x"></span>
                    <div class="card-body d-flex justify-content-center align-items-center text-center ">
                        <p class="card-text">Trust , guarantee , commitment</p>
                    </div>
                    <span class="right fa fa-solid fa-quote-right fa-3x"></span>
                </div>
            </div>

        </div>
    </div>
</section>


