.reviewItem{
    position: relative;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviewItem span{
    position: absolute;
}
.reviewItem .left{
   top: -10%;
   left:-2%
}
.reviewItem .right{
   bottom: -10%;
   right:-2%
}
